page-loading {

}
.bottom{
  position: fixed;
  bottom: 0;
  width: 92%;
}

.toolbar-background-md{
  background-color: $color-orange;
}
.toolbar-background-ios{
  background-color: $color-orange;

}
.toolbar-title-ios{
  color: white;
}

.header-ios .toolbar-ios:last-child .toolbar-background-ios{
  border-width: 0 0 0 0;
}
