
<ion-header>

  <ion-navbar>
    <ion-title>treatment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div>
    <img src="assets/images/timer.jpg">
    <br>
    <button ion-button ng-click='startTimer()'>Start</button>
    <button ion-button ng-click='stopTimer()'>Stop</button>
  </div>


  <div id="option">
    <div class="choose">
      <button ion-button full (click)='back()'>add two more mins</button>
      <button ion-button full>try another point</button>
      <button ion-button full [navPush]="feedbackPage">finish treatment</button>
    </div>

  </div>
</ion-content>
